@import "tailwindcss";

@theme {
  --color-Green-300: hsl(150, 100%, 66%);
  --color-Blue-200: hsl(193, 38%, 86%); 
  --color-Blue-600: hsl(217, 19%, 38%); 
  --color-Blue-900: hsl(217, 19%, 24%); 
  --color-Blue-950: hsl(218, 23%, 16%);

}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  background-color: var(--color-Blue-950);
  color: white;
}
